.notice-title {
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}
.not-header {
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.notice-tbody {
    width: 100%;
}
.notice-eachPost {
    width: 25rem;
}
tr {
    height: 4rem;
    vertical-align: middle;
}
