.container{
    padding: 3vw;
    
}
.NoticeArea {
    display: inline-block;
    width: 45%;
    
}
.section {
    list-style:none;
    display: flex;
    border-bottom: 2px solid #D9D9D9;
    padding-left: 0;
    
}

.section li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'S-Core Dream';
}

.noticeList {
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.noticeDate {
    float:right;
    text-align:left;
    color: #D9D9D9;
    
}

.noticeTitle {
    font-weight: 500;
    font-family: 'S-Core Dream';
}


.noticeBoard {
    width: 50%;
    display: inline-block;
    margin-left: 5%;
    cursor: pointer;
}

.noticeBoard>:hover{
    padding: 5% 10% 5% 10%;
    background: linear-gradient( to right, #1845BA, #2B87F2 );
    color: white;
}

.petitionBoard{
    padding: 5% 10% 5% 10%;
    background: linear-gradient( to right, #505E82, #99ABD6 );
    color: white;
}


.questionBoard {
    padding: 5% 10% 5% 10%;
    background: linear-gradient( to right, #505E82, #99ABD6 );
    color: white;
}



.explain{
    display: inline-block;
    font-size: 0.7em;
    margin-right: 10%;
}

.arrow-white {
    display: inline-block;
    width: 10%;
    height: 10%;
    padding-bottom: 8%;
}

.arrow2 {
    width: 2%;
    height: 2%;
    margin-left: 70.5%;
    margin-top: 1%;
}