.container {
    padding: 3vw;
    margin: auto auto;
}

.NoticeArea {
    display: inline-block;
    width: 50%;
}
.section {
    list-style: none;
    display: flex;
    border-bottom: 2px solid #d9d9d9;
    margin-left: 1%;
}

.section li {
    cursor: pointer;
    font-size: 1rem;
}
.notice-title {
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    padding-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    font-family: "S-Core Dream";
}

.noticeList {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}

.noticeDate {
    float: right;
    text-align: left;
    color: #d9d9d9;
}

.noticeTitle {
    font-weight: 500;
    font-family: "S-Core Dream";
    line-height: 240%;
}

.noticeBoard {
    width: 45%;
    display: inline-block;
    margin-left: 5%;
    cursor: pointer;
    font-size: 2rem;
}

.noticeBoard > :hover {
    padding: 5% 10% 5% 10%;
    background: linear-gradient(to right, #1845ba, #2b87f2);
    color: white;
}

.petitionBoard {
    padding: 5% 10% 5% 10%;
    background: linear-gradient(to right, #505e82, #99abd6);
    color: white;
    height: 8rem;
}
.not-header {
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.questionBoard {
    padding: 5% 10% 5% 10%;
    background: linear-gradient(to right, #505e82, #99abd6);
    color: white;
    height: 8rem;
}

.board-Title {
    font-family: "S-Core Dream";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    /* line-height: 170%; */
    /* identical to box height, or 34px */

    color: #ffffff;
}

.notice-tbody {
    width: 100%;
}

.explain {
    display: inline-block;
    font-size: 1rem;
    margin-right: 10%;
}
.notice-eachPost {
    width: 25rem;
}

.arrow-white {
    display: inline-block;
    width: 10%;
    height: 10%;
    padding-bottom: 8%;
}
tr {
    height: 4rem;
    vertical-align: middle;
}

.arrow2 {
    width: 2%;
    height: 2%;
    margin-left: 85%;
    margin-top: 1%;
    margin-bottom: 1.5%;
}
