
  .Body-container{
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    padding: 0% 20% 0% 20%;
  }

  .Body-img{
    margin: auto;
  }

  .logo_img{
    width: 8rem;
  }

  .Body-text{
    /* padding: 1rem; */
  }

  .title{
    padding: 2rem;
    font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 180%;
  }

  .text{
    padding-bottom: 3rem;
  }

  .dandae_item{
    padding: 10% 10%;

  }