
.navibar {
    /* background: white 100%; */
    background: linear-gradient(90deg, white 0%, white 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* border-bottom: 1px solid #d9d9d9 ; */
    /* padding-left: 24vw; */
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    grid-gap: 3rem;
    /* border-bottom: 1px solid #d9d9d9 ; */
    /* padding: 1vw 24vw; */
   
    
  }
  
  .navbar-logo {
  /* BASE */

    justify-self: start;
    margin-left: 20px;
    /* padding-right: 2rem; */
    cursor: pointer;
    text-decoration: none;
    /* font-size: 2rem; */
    display: flex;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */


    background: linear-gradient(0deg, #1845BA 20.37%, #2B87F2 66.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */

  }

  .navbar-logo-sub {
    /* 한성대학교 37대 총학생회 BASE */

    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    /* font-size: 2rem; */
    display: flex;
    align-items: center;

    width: 129px;
    height: 17px;
    top: 49px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 170%;
    /* identical to box height, or 17px */

    text-align: center;
    letter-spacing: -0.04em;

    color: #636363;
    }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 3rem;
    list-style: none;
    text-align: center;
    /* width: 61vw;/ */
    justify-content: center;
    /* margin-right: 1rem; */
    margin: auto;
    font-weight: 500;
  }
  .nav-menu-sign {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    /* width: 61vw; */
    font-size: 0.5rem;
    justify-content: end;
    /* margin-right: 1rem; */
    margin-bottom: 0rem;
  }
  
  .nav-item {
    height: 80px;
    
  }
  
  .nav-links {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* padding: 0.5rem 0.5rem; */
    width: 6rem;
    /* grid-gap:1rem; */
    height: 100%;
    top: 29px;
    justify-content: center;
    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    /* line-height: 170%; */
  }

  
  .nav-links:hover {
    border-bottom: 3px solid #99AAD5;
    transition: all 0.2s ease-out;
    /* grid-gap:1rem; */
    /* width: 8.5rem; */
  }

  
  .nav-links-sign{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'Noto Sans KR';
    font-style: normal;   
    font-weight: 400;
    font-size: 12px;
    color: #6E778D;
  }

  .fa-bars {
    color: #1845BA;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: white;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #1845BA;
      color: white;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: rgb(32, 32, 166);
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: bla;
      padding: 14px 20px;
      border: 1px solid #1845BA;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #1845BA;
      color: white;
      transition: 250ms;
    }
  }
  .summaryBar {
    display: flex;
    position:fixed;
    justify-content: center;
    background-color: white;
    flex-direction: row;
    padding-right: 3%;
    top:79px;
    width: 105%;
    font-size: 0.7rem;
    z-index: 999;
    background: #F9FAFC;
    border-top: 1px solid #d9d9d9 ;
    
  }
  .summaryBarHidden {
    display: flex;
    background-color: white;
    flex-direction: row;
    position:absolute;
    width: 100%;
    padding-left: 22%;
    visibility: hidden;
  }
  .summaryInfoSection {
    display: flex;
    flex-direction: column;
    padding: 1% 0.7%;
    width: 9rem;
    grid-gap:1rem;
    /* border-left: 1px solid #d9d9d9; */
    border-right: 1px solid #d9d9d9
    
  }
  .contents{
    cursor:pointer;
    line-height: 238%;
    
  }
  .contents:hover{
    font-weight: 800;
  }