.navbar {
    background: linear-gradient(90deg, white) 0%, white 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-left: 24vw;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    /* padding: 1vw 24vw; */
   
    
  }
  
  .navbar-logo {
  /* BASE */

    justify-self: start;
    margin-left: 20px;
    /* padding-left: 24rem; */
    cursor: pointer;
    text-decoration: none;
    /* font-size: 2rem; */
    display: flex;
    align-items: center;


    /* width: 95px;
    height: 54px; */
    /* left: 400px; */
    /* top: 3px; */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */


    background: linear-gradient(0deg, #1845BA 20.37%, #2B87F2 66.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

  }

  .navbar-logo-sub {
    /* 한성대학교 37대 총학생회 BASE */

    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    /* font-size: 2rem; */
    display: flex;
    align-items: center;

    width: 129px;
    height: 17px;
    top: 49px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 170%;
    /* identical to box height, or 17px */

    text-align: center;
    letter-spacing: -0.04em;

    color: #636363;
    }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 61vw;
    justify-content: end;
    margin-right: 1rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;

    /* position: absolute; */
    /* width: 91px; */
    top: 29px;

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /* line-height: 170%; */
  }

  
  .nav-links:hover {
    border-bottom: 4px solid #1845BA;
    transition: all 0.2s ease-out;
  }
  
  .nav-links-sign{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'Noto Sans KR';
    font-style: normal;   
    font-weight: 400;
    font-size: 12px;
    color: #6E778D;
  }

  .fa-bars {
    color: #1845BA;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: white;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #1845BA;
      color: white;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: rgb(32, 32, 166);
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: bla;
      padding: 14px 20px;
      border: 1px solid black;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: black;
      color: white;
      transition: 250ms;
    }
  }