.summary-container{
    /* padding: 1rem 0 1rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 280px;
    padding: 3rem 25vw;
    
}

